<a href="https://colab.research.google.com/github/saikirananugam/NNDL/blob/main/Assignment_5_592.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import math as mt
import random
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
data = pd.read_excel('/content/LOAD Dataset.xlsx')
data.head()

            X           Y
0  5551.82208  4983.17184
1  4983.17184  4888.39680
2  4888.39680  5072.95872
3  5072.95872  5196.25980
4  5196.25980  5641.29720

In [7]:
x_min = data['X'].min()
x_max = data['X'].max()

y_min = data['Y'].min()
y_max = data['Y'].max()
x_min

3377.9196

In [8]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])

data.head()

          X         Y
0  0.397877  0.293800
1  0.293800  0.276454
2  0.276454  0.310234
3  0.310234  0.332801
4  0.332801  0.414254

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

In [11]:
m = random.uniform(-10,10)
c = random.uniform(-10,10)
eta = 0.1
epochs = 1000
c_vel = 0.9
em = 0
ec = 0
epsilon = 1E-6

In [12]:
for iter in range(epochs):
  for sample in range(x_train.shape[0]):
    
    m_deriv = -1 * (y_train.iloc[sample] - m * x_train.iloc[sample] - c) * x_train.iloc[sample]
    c_deriv = -1 * (y_train.iloc[sample] - m * x_train.iloc[sample] - c)

    em = (c_vel * em) + ((1 - c_vel) * (m_deriv ** 2)) 
    ec = (c_vel * ec) + ((1 - c_vel) * (c_deriv ** 2)) 


    eta_m = (eta/(mt.sqrt(em + epsilon))) * m_deriv
    eta_c = (eta/(mt.sqrt(ec + epsilon))) * c_deriv

    m = m - eta_m
    c = c - eta_c
print('Model parameters m and c = ',m,c)

Model parameters m and c =  0.7764032253011075 0.06548795672086408

In [13]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [14]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [15]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#training accuracies
print('training error\n')
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

training error

Root mean square error 0.1273463559989099
Mean square error 0.016217094386201097
Mean absolute error 0.08835919799153386

In [16]:
#testing accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('testing errors\n')
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

testing errors

Root mean square error 0.1352521808213828
Mean square error 0.018293152416940028
Mean absolute error 0.09156053855243984

In [17]:
X=float(input('Enter the input value'))
print('X=',X)

x_nor = (X - x_min)/(x_max - x_min)
y_nor = m*float(x_nor) + c

Y = y_nor*(y_max - y_min) + y_min
print('Output =',Y)

Enter the input value7000
X= 7000.0
Output = 6547.924320534992